:root {
  --primary: #2563eb;
  --primary-dark: #1d4ed8;

  --background: #f4f7fc;

  --white: #ffffff;

  --text: #111827;

  --gray: #6b7280;

  --border: #d1d5db;

  --shadow: 0 5px 20px rgba(0, 0, 0, 0.08);

  --radius: 12px;
}
